/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 29, 2016, 10:08:08 PM
    Author     : Robert Riselvato
*/

// CSS CLASS FOR OUR BIG PANES
.bordered_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.toolbar_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 35;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.text {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.design_pane {
    -fx-background-color: #FFFFE0;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
}

.selected_design_pane {
    -fx-background-color: #FFFFE0;
    -fx-border-width: 2px;
    -fx-border-color: #FFFF00;
}

.attribute {
    -fx-border-color: #000000;
}

.selected_attribute {
    -fx-border-color: #FFFF00;
}

.grid_pane {
    -fx-background-image: url("images/Grid.png");
    -fx-background-repeat: repeat-x;
}